<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Enlace no disponible</title>

    <link rel="stylesheet" href="/static/css/style.css?v=2">
</head>

<body>

    <main class="contenedor">

        <div class="tarjeta">

            <div class="logo">
                <img
                    src="/static/img/logo.png"
                    alt="Logo de la empresa"
                >
            </div>

            <div class="bienvenida">

                <h1>Enlace no disponible</h1>

                <p>
                    Este enlace no existe,
                    fue utilizado o fue cancelado.
                </p>

            </div>

        </div>

        <div class="footer">
            BS Electromecánica S.A.S.
        </div>

    </main>

</body>

</html>